# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  schedule:
    - cron: "0 11/12 * * *" # every 12 hours starting from 11:00am UTC
  workflow_dispatch:
    
permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      GOOGLE_SHEET_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SHEET_SERVICE_ACCOUNT }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Prepare credentials
      run: |
        echo "writing creds"
        echo $GOOGLE_SHEET_SERVICE_ACCOUNT >> creds.json
    - name: run
      run: |
        python3 src/main.py
      env:
        SHEET_ID: ${{ vars.SHEET_ID }}
        GOOGLE_APPLICATION_CREDENTIALS: ../creds.json
